.mainContainer {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
 
}

.titleContainer {
  display: flex;
  flex-direction: column;
  font-size: 48px;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
}

.resultContainer, .historyItem { 
  flex-direction: row;
  display: flex;
  width: 400px;
  align-items: center;
  justify-content: space-between;
}

.historyContainer {
  flex-direction: column;
  display: flex;
  height: 200px;
  align-items: center;
  flex-grow: 5;
  justify-content: flex-start;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 260px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.inputbuttonContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.inputContainer > .errorLabel {
  color: red;
  font-size: 12px;
}

.inputBox {
  height: 48px;
  width: 215px;
  font-size: large;
  border-radius: 8px;
  border: 1px solid grey;
  padding-left: 8px;
}

.empTableContainer {
  width: 90%;
}

th {
  font-size: 25px;
  font-weight: 500;
  width:50%
}

table tr:nth-child(odd) td{
  background:#ccc;
}
table tr:nth-child(even) td{
   background:#fff;
}

td {
  font-size: 16px;
  font-weight: 500;
  border: 1px solid #333;
}

.attTableContainer {
  width: 90%;
}

.thatt {
  font-size: 20px;
  font-weight: 500;
}