@media print { 
    .sidebar 
    { 
    display: none !important; /* Hide sidebar on print */
           }
.tab-buttons { 
    display: none !important; /* Hide tab buttons on print */
}
.mainContainer {
    padding-bottom: 0;
    margin-bottom: 0;
}
.print-button {
    display: none !important; /* Hide print button on print */
}

 /* Hide the first two rows during print */
 .header-row {
    display: none !important;
}

/* Print-specific heading */
.print-heading {
    display: block !important;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 15px;
}
   /* Hide the W2s table content during print */
   .w2s-table {
    display: none !important;
}
.third-row-print {
    color: black !important;
}

 }

 .print-button {
    background-color: #865d36; /* Default color */
    color: white; /* Text color */
}

.print-button:hover {
    background-color: black; /* Hover color */
    color: white; /* Text color on hover */
}
 /* Non-print view: Hide the print-heading */
.print-heading {
    display: none;
}

 .sidebar.print-hide {
    display: none !important;
}